/* BASIC RESET + UTILS */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 10;*/
  font-style: normal;
  
}
body {
  line-height: 1.6;
  color: #ffffff;
  background: url("../images/background.png") no-repeat center center;
  background-size: cover;
}

/* NAVIGATION */
.navbar {
  top: 0; z-index: 100;
  
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #d4af37;
  font-weight: 400;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #3a2e2a;
  margin: 4px 0;
  border-radius: 2px;
}
@media (max-width: 768px) {

  .hamburger {
    display: flex;
    cursor: pointer;
    z-index: 200;
  }

  .navbar nav {
    position: absolute;
    top: 60px;              /* just below navbar */
    right: 1rem;            /* beside hamburger */
    background-color: #3a2e2a;
    width: 200px;           /* NOT full width */
    flex-direction: column;
    align-items: flex-start;
    display: none;
    padding: 0.75rem 0;
    border-radius: 8px;
    border: 1px solid #e2d6cc;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    
  }

  .navbar nav a {
    margin: 0;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    width: 100%;
  }

  .navbar nav.active {
    display: flex;
  }
}



.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.logo img {
  height: 42px;
  width: auto;
}

@media (max-width: 768px) {
  .logo img {
    height: 36px;
  }
}

.logo span{
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: #d4af37;
}

/* HERO */
.hero {
  /*background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('hero-bg.jpg') center/cover no-repeat;*/
  color: #d4af37;
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
}
.hero .btn {
  background: #960213;
  color: #fff; padding: 0.75rem 1.5rem;
  border: none; cursor: pointer;
  border-radius: 5%;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.hero .btn:hover{
  transform: translateY(-3px);
  transition: 0.2s ease;
  border: 1px solid #ccc;
}
/* SECTIONS */
.section {
  padding: 3rem 0;
}
.section h2 {
  font-weight: 600;
  letter-spacing: 0.8px;
}

.container {
  width: 90%; max-width: 1200px; margin: auto;
}
.cards {
  display: flex; gap: 1.5rem;
  justify-content: space-between;
}
.card {
  flex: 1; 
  background-color: #470008;
  border: 1px solid #e2d6cc;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  color: #d4af37;
  gap: 1.8rem; 
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.2s ease;
}


/* GALLERY */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.gallery-grid img {
  width: 100%; border-radius: 8px;
}

/* FORM */
form input, form textarea {
  width: 100%; padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc; border-radius: 4px;
}
.btn {
  background: #960213; color: #fff;
  padding: 0.75rem 1.5rem;
  border: none; cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center; padding: 1rem;
  background: #222; color: #fff;
  border-radius: 5%;
}
