/* BASIC RESET + UTILS */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 10;*/
  font-style: normal;
  
}
body {
  line-height: 1.6;
  color: #ffffff;
  background: url("../images/background.png") no-repeat center center;
  background-size: cover;
}

/* NAVIGATION */
.navbar {
  /*background: #fff;
  border-bottom: 2px solid #efefef;*/
  /*position: sticky;*/
  top: 0; z-index: 100;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbar nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #d4af37;
  font-weight: 400;
}
.logo {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  color: #d4af37;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('hero-bg.jpg') center/cover no-repeat;
  color: #d4af37;
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
}
.hero .btn {
  background: #ff6f61;
  color: #fff; padding: 0.75rem 1.5rem;
  border: none; cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
/* SECTIONS */
.section {
  padding: 3rem 0;
}
.container {
  width: 90%; max-width: 1200px; margin: auto;
}
.cards {
  display: flex; gap: 1.5rem;
  justify-content: space-between;
}
.card {
  flex: 1; 
  background-color: #470008;
  border: 1px solid #e2d6cc;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  color: #d4af37;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.2s ease;
}


/* GALLERY */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.gallery-grid img {
  width: 100%; border-radius: 8px;
}

/* FORM */
form input, form textarea {
  width: 100%; padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc; border-radius: 4px;
}
.btn {
  background: #ff6f61; color: #fff;
  padding: 0.75rem 1.5rem;
  border: none; cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center; padding: 1rem;
  background: #222; color: #fff;
}
